@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
    ViewData["Subtitle"] = "You do not have access to this resource.";
}

<partial name="_PageHeader" />

<div class="alert alert-danger mb-3">
    You do not have access to this resource.
</div>
